:root{
    --white-background: #fbfcf8;
    --black-background: #0F1124;
    --dark-purple: #4D3F92;
    --light-purple: #8174C3;
    --yello-color: #FBC024;
    
    --height:200vh;
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    background-color: transparent;
}
svg{
    display: none;
}
h1, h3, p{
    cursor: default;
}
/*HOME PAGE IS START*/
#home-page{
    background-color: var(--white-background);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.mrba{
    position: absolute;
    z-index: 1;
    left: 80%;
    height: 100vh;
    width: 450px;

    transform: skewX(-10deg);
    background-color: var(--yello-color);
}
.content{
    padding: 0 100px;
}
/*HEADER IS START*/
ul{
    cursor: default;
    padding-left: 0;
}
a{
    color: var(--midem-color);
    text-decoration: none;
    list-style: none;
    transition: 0.1s;
}
ul li a{
    padding: 4px 12px;
}
ul li{
    display: inline-block;
    transition: 0.1s;
    margin-right: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    color: var(--light-purple);
    cursor: pointer;
}
#first-list a{
    color: var(--white-background);
    background-color: #4D3F92;
    border-radius: 10px;
}


ul li a:hover{
    color: var(--yello-color);
}

/*HEADER IS END*/
/*TITLE IS START*/
.flex{
    width: 80vw;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}

.title{
    display: inline-block;
    margin-top: 5%;
    padding: 100px 0;
}
h1{
    display:inline-block;
    color: var(--dark-purple);
    margin-bottom: 0;
}
h3{
    color: var(--light-purple);
    margin-top: 10px;
}
#img-page1{
    height: 320px;
    float: right;
    z-index: 2;
    flex-wrap: nowrap;
    
}
#home-page .flex{
    top: 120px;
}
/*TITLE IS END*/
/*HOME PAGE IS END*/

/*PAGE 2 IS START*/
#page-2{
    position: relative;
    background:linear-gradient(to left,var(--light-purple),var(--dark-purple));
    width: 100vw;
    min-height: 100vh;
    transition: 0.2s;
    overflow-x: hidden;
}

#page-2 .content h1{
    position: relative;
    color: var(--yello-color);
    margin-top: 50px;
    z-index: 2;
}

#page-2 .content p{
    width: 450px;
    color: var(--white-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-weight: 500;
    z-index: 2;
}
#img-page2{
    height: 320px;
    margin-bottom: 40px;
}
/*page 2 IS END*/
/*page 3 is start*/
#page-3{
    position: relative;
    width: 100vw;
    min-height: 60vh;
    background-color: var(--white-background);
    transition: 0.2s;
    
}
#page-3 .content h1{
    margin-top: 40px;
    color: var(--dark-purple);
}
.skills{
    width: 75vw;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill{
    position: relative;
    width: 240px;
    height: 80px;
    margin: 20px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background:linear-gradient(to left,var(--light-purple), var(--dark-purple));
    border-radius: 10px;
}
.skills .skill img{
    height: 50px;
    padding: 5px;
    background-color: var(--white-background);
    border-radius: 50%;
}
.skills .skill h4{
    color: white;
    margin-right: 10px;
    font-size: 18px;
}
span{
    position: absolute;
    height: 101%;
    width: 0;
    left:0;
    bottom: 0;
    
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    
    background-color: var(--yello-color);
}
span p{
    position: relative;
    font-weight: bold;
    font-size: 24px;
    color: var(--dark-purple);
}

.skill:hover span{
    width: 100%
    
}
/*page 3 is end*/

/*page 4 is start*/
#page-4{
    width: 100vw;
    min-height: 40vh;
    
    background:var(--yello-color);
    
}
#page-4 h1{
    position: relative;
    color: var(--white-background);
    z-index: 2;
}
#page-4 .mrba{
    background-color: var(--yello-color);
    right: -10%;
}

.projects{
    position: relative;
    width: 90vw;
    min-height: 50vh;
    margin-top: 0px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.project{
    position: relative;
    height: 260px;
    width: 200px;
    text-align: center;
    margin-top: 15px;
    margin: 10px 10px;
    
    background:linear-gradient(to left,var(--light-purple), var(--dark-purple));
    border-radius: 7px;
    overflow: hidden;
}
.project:hover .info{
    height: 100%;
}
.project:hover .used{
    display: inline-block;
    opacity: 1;
    transition: 1.6s;
}
.project img{
    display: inline-block;
    background-color: #eee;
    height: 100%;
    width: 100%;
}
.info{
    position: absolute;
    width: 100%;
    height: 15%;
    bottom:0;

    background-color: #4d3f92c0;
    backdrop-filter:blur(5px);
    border-radius: 7px;
    transition: 0.5s;
}
.info a{
    position: absolute;
    height: 100%;
    width: 100%;
}
.info h4{
    color: var(--white-background);
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 5px;
    cursor: default;
}
.project p{
    color: var(--yello-color);
    font-weight: 500;
    font-size: 15px;
    cursor: default;
}
.used{
    display: none;
    position: absolute;
    width: 100%;
    bottom:-10px;
    left: 50%;right: 50%;
    transform:translate(-50%,-50%) ;
    
    opacity: 0;
    transition: 1.6s;
}
.used li{
    display: inline-block;
    position: relative;
    cursor: default;
    font-size: 15px
}
/*page 4 is end*/
/*page 5 is start*/
#page-5{
    position: relative;
    width: 100vw;
    min-height: 35vh;
    background:linear-gradient(to left, var(--light-purple),var(--dark-purple));
}
#page-5 h1{
    position: relative;
    color: var(--yello-color);
    margin-top: 20px;
    font-size: 25px;
    z-index: 2;
}
#page-5 .flex{
    margin-top: 10px;
    width: 70%;
    justify-content: flex-start;
}
#page-5 .flex ul li{
    padding: 10px;
}
#page-5 #lic{
    position: absolute;
    font-weight: 1;
    bottom: 0;
    left: 50px;
    
}
@media screen and (max-width:800px) {
    .flex{
        
        margin: 0 auto;
        margin-top: 15%;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    #home-page .flex{
        margin-top: 35%;
    }
    /*header*/
    .content{
        padding: 0 70px;
    }
    
    .button{
        padding: 3px;
        height: 40px;
        width: 40px;
        position: fixed;
        margin-top: 20px;
    
        z-index: 1000;
        background-color: var(--dark-purple);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        top: 10px;
        padding: 0px;
    }
    svg{
        z-index: 1002;
        margin-top: 2px;
        display: inline-block;
    }
    
    #home-page ul{
        position: fixed;
        display:none;
        margin: 0;
        height: 100vh;
        width: 50vw;
        text-align: center;
        

        z-index: 1500;
        left: 0;
        top: 0;
        background:linear-gradient(var(--dark-purple), var(--light-purple)) ;
    }
    
    #home-page ul li a,#home-page ul li{
        background-color: transparent;
        padding: 1vh 2vw;
        position: relative;
        font-size: 20px;
        display: block;
        margin-top: 10px;
        
        border-bottom:(--light-purple);
        border-radius: 20px;
        color: #FBC024;
        transition: 0.3s;
    }
    #home-page ul li a:hover{
        background-color: var(--yello-color);
        color: #4D3F92;
    }
    /*header*/
    #img-page1, #img-page2{
        
        height: 250px;
    }
    #page-2 .content p{
        font-size: 18px;
    }

    .button:hover{
        background-color: var(--yello-color);
    }
    .button:hover #ul{
        display: block;
    }
    #img-page2{
        margin-top: 50px;
    }
    .title{
        padding: 25px 0;
    }
    #page-4 h1{
        margin-bottom: 50px;
    }
    
}

@media screen and (max-width:650px) {
    .skills .skill{
        width: 205px;
        height: 75px;
    }
    svg{
        height: 30px;
        width: 30px;
        margin-top: 5px;
    }
    .content{
        padding: 0 30px;
    }
    h1{
        font-size: 25px;
    }
    #home-page .title{
        padding: 50px 0;
    }
    h3{
        font-size: 15px;
    }
    #page-4 .projects, #page-3 .skills{
       justify-content: center;
       align-items: center; 
       margin-bottom: 50px;
    }
}
@media screen and (max-width:755px) {
    .flex{
        
        flex-wrap: wrap;
    }
    
}